/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/*  Custom Properties */
:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    
    --Grey500: hsl(234, 12%, 34%);
    --Grey400: hsl(229, 6%, 66%);
    --White: hsl(0, 0%, 98%);
}
/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--White);
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 0 2.5rem 0 2.5rem;
    margin: 3rem 0 3rem 0
}

.header h2 {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--Grey500);
    margin-bottom: 0.8rem;
}

.header 
.p {
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 1.2;
}

.header p {
    font-weight: 400;
    font-size: 1rem;
    color: var(--Grey500);
}

/* Cards */
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.card {
    height: 17rem;
    max-width: 22rem;
    flex: 1;
    padding: 1.875rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card h2 {
    color: var(--Grey500);
    margin-bottom: 0.4rem;
}

.card p {
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--Grey500);
}

.card img {
    position: relative;
    object-fit: contain;
    top: 2.5rem;
    right: -14rem;
}

/* Cards Colors */
.supervisor {
    border-top: 5px solid var(--cyan);
}
.team-builder {
    border-top: 5px solid var(--red);
}
.karma {
    border-top: 5px solid var(--orange);
}
.calculator {
    border-top: 5px solid var(--cyan);
}

/* Media Queries */
@media (min-width: 1024px) {
    /* Header */
    .header {
        width: 40rem;
        margin-bottom: 4rem;
    }

    .header h2 {
        font-size: 2.4rem;
    }

    .header .p {
        font-size: 2.4rem;
    }
    /* Cards */
    .cards {
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(3, 1fr);
        gap: 2rem;

        margin-bottom: 4rem;
    }

    .supervisor {
        grid-area: 2 / 1 / 4 / 2;
    }

    .calculator {
        grid-area: 2 / 3 / 4 / 4;
    }

    .team-builder {
        grid-area: 1 / 2 / 3 / 3;
    }

    .karma {
        grid-area: 3 / 2 / 5 / 3;
    }
}

/* Footer */

.attribution {
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: hsl(228, 45%, 44%);  
}

.attribution p {
    font-size: 0.5rem;
}
